@use "../utils/" as *;

//Removes ANY animation if the user has the reduced motion option enabled in their device
@media (prefers-reduced-motion: reduce) {

    *,
    :before,
    ::after {
        -webkit-animation: none !important;
        animation: none !important;

        transition: none !important;
    }
}

//Reset
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


*::selection {
    -webkit-text-stroke: transparent;

    color: var(--selection-color);

    background-color: var(--selection-bg-color);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50%;

    color-scheme: dark light;
}


body {
    min-height: 100dvh;


    background-color: var(--bg-primary);
    color: var(--color-primary);


    overflow-x: hidden;

    transition:
        background-color 650ms ease-in-out,
        color 350ms ease-in-out;

}

:is(ul, ol) {
    list-style-type: none;
}

/*
//⚠ We make the border transparent so that if the user has a high contrast text mode enable the border will still appear for them
//Good for accessibility
*/
button {
    border-color: transparent;
    background-color: transparent;

    font-family: inherit;
    color: inherit;


    &:hover {
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

}


input {
    font-family: inherit;


    border-color: transparent;
    outline-color: transparent;

    &:focus {
        border-color: transparent;
        outline: transparent;
    }
}


textarea {
    font-family: inherit;
    border-color: transparent;

    &:focus {
        border-color: transparent;
        outline: transparent;
    }
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: currentColor;
    }
}

label {
    &:hover {
        cursor: pointer;
    }
}

fieldset {
    border-color: transparent;
}

legend {
    position: static;
}

dialog {
    position: fixed;
    border: transparent;
    margin: 0;
    padding: 0;
    z-index: 0;
    @include absolute-center;
}

select {
    border: transparent;
    font-family: inherit;

    &:hover {
        cursor: pointer;
    }
}

option {
    font-family: inherit;
}

//Makes empty text blocks elements disappear
:is(p, h1, h2, h3, h4,
    h5, h6, span):empty {
    display: none !important;
}

/*
input {
    &[type="button"] {}

    &[type="color"] {
        --color-swatch-display: none;
        &::-moz-color-swatch { }

        &::-webkit-color-swatch { }
    }

    &[type="date"] {}

    &[type="datetime"] {}

    &[type="datetime-local"] {}

    &[type="email"] {}

    &[type="file"] {
        --file-selector-display: none;
        &::file-selector-button { }
    }

    &[type="month"] {}

    &[type="week"] {}

    &[type="number"] {
        --inner-spin-appearance: none;
        --outer-spin-appearance: none;
        // -moz-appearance: textfield;

        &::-webkit-inner-spin-button {//appearance: none;
        }

        &::-webkit-outer-spin-button {//appearance: none;
        }
    }

    &[type="password"] {}

    &[type="range"] {
        //Track
        --track-size: 0px;
        --track-bg: white;

        &::-webkit-slider-runnable-track { }
        
        &::-moz-range-track { }
        
        --thumb-size: 0px;
        --thumb-bg: white;

        //Thumb
        &::-webkit-slider-thumb { }

        &::-moz-range-thumb { }
    }

    &[type="search"] {
        --cancel-button-display: none;
        --results-button-display: none;
        
        &::-webkit-search-cancel-button { }

        &::-webkit-search-results-button { }
    }

    &[type="tel"] {}

    &[type="time"] {}

    &[type="url"] {}

    &[type="submit"] {}

    &[type="reset"] {}

    &[type="image"] {}

    &[type="hidden"] {}
}
*/