@use "../utils/" as *;

//Removes ANY animation if the user has the reduced motion option enabled in their device
@media (prefers-reduced-motion: reduce) {

    *,
    :before,
    ::after {
        -webkit-animation: none !important;
        animation: none !important;

        transition: none !important;
    }
}

//Reset
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


*::selection {
    -webkit-text-stroke: transparent;

    color: var(--selection-color);

    background-color: var(--selection-bg-color);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50%;

    color-scheme: dark light;
}


body {
    min-height: 100dvh;


    background-color: var(--bg-primary);
    color: var(--color-primary);


    overflow-x: hidden;

    transition:
        background-color 650ms ease-in-out,
        color 350ms ease-in-out;

}

:is(ul, ol) {
    list-style-type: none;
}

/*
//⚠ We make the border transparent so that if the user has a high contrast text mode enable the border will still appear for them
//Good for accessibility
*/
button {
    border-color: transparent;
    background-color: transparent;

    font-family: inherit;
    color: inherit;


    &:hover {
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

}


input {
    font-family: inherit;


    border-color: transparent;
    outline-color: transparent;

    &:focus {
        border-color: transparent;
        outline: transparent;
    }
}


textarea {
    font-family: inherit;
    border-color: transparent;

    &:focus {
        border-color: transparent;
        outline: transparent;
    }
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: currentColor;
    }
}

label {
    &:hover {
        cursor: pointer;
    }
}

fieldset {
    border-color: transparent;
}

legend {
    position: static;
}

dialog {
    position: fixed;
    border: transparent;
    margin: 0;
    padding: 0;
    z-index: 0;
    @include absolute-center;
}

select {
    border: transparent;
    font-family: inherit;

    &:hover {
        cursor: pointer;
    }
}

option {
    font-family: inherit;
}

//Makes empty text blocks elements disappear
:is(p, h1, h2, h3, h4,
    h5, h6, span):empty {
    display: none !important;
}


//Reset for all the input types
input {
    &[type="button"] {}

    &[type="color"] {
        background-color: transparent;
        --color-swatch-display: inline-block;

        &::-moz-color-swatch {
            display: var(--color-swatch-display);
        }

        &::-webkit-color-swatch {
            display: var(--color-swatch-display);
        }
    }

    &[type="date"] {}

    &[type="datetime"] {}

    &[type="datetime-local"] {}

    &[type="email"] {}

    &[type="file"] {
        --file-selector-display: initial;

        &::file-selector-button {
            display: var(--file-selector-display);
        }
    }

    &[type="month"] {}

    &[type="week"] {}

    &[type="number"] {
        --inner-spin-appearance: initial;
        --outer-spin-appearance: initial;

        --moz-appearance: initial;

        -moz-appearance: var(--moz-appearance);

        &::-webkit-inner-spin-button {
            appearance: var(--inner-spin-appearance);
        }

        &::-webkit-outer-spin-button {
            appearance: var(--outer-spin-appearance);
        }
    }

    &[type="password"] {}

    &[type="range"] {
        //Track
        --track-size: auto;
        --track-height: auto;

        --track-bg: transparent;

        --track-appearance: initial;

        appearance: var(--track-appearance);

        &::-webkit-slider-runnable-track {
            background-color: var(--track-bg);
            width: var(--track-size);
            height: var(--track-bg);
        }

        &::-moz-range-track {
            background-color: var(--track-bg);
            width: var(--track-size);
            height: var(--track-bg);
        }


        //Thumb
        --thumb-size: auto;
        --thumb-height:auto;

        --thumb-bg: transparent;
        --inner-track-bg: transparent;

        --thumb-appearance: initial;

        appearance: var(--thumb-appearance);

        &::-webkit-slider-thumb {
            background-color: var(--thumb-bg);

            width: var(--thumb-size);
            height: var(--thumb-height);
        }

        &::-moz-range-thumb {
            background-color: var(--thumb-bg);

            width: var(--thumb-size);
            height: var(--thumb-height);
        }
    }

    &[type="search"] {
        --cancel-button-display: initial;
        --results-button-display: initial;

        &::-webkit-search-cancel-button {
            display: var(--cancel-button-display);
        }

        &::-webkit-search-results-button {
            display: var(--results-button-display);
        }
    }

    &[type="tel"] {}

    &[type="time"] {}

    &[type="url"] {}

    &[type="submit"] {}

    &[type="reset"] {}

    &[type="image"] {}

    &[type="hidden"] {}
}