@use "../utils/" as *;

.index {
    background: grey;

    @include center-flex;

    min-height: 100vh;
    position: relative;
    width: 100%;

    scroll-snap-type: y mandatory;
    scroll-padding-bottom: calc((100vh - 100%) / 2);
    /* Adjust this value to center the canvas vertically */

    &__canvas {
        --bg-canvas: white;
        position: absolute;
        width: 97%;
        height: 97%;

        scroll-snap-align: center;

        background-color: var(--bg-canvas);

        &:hover {
            cursor: crosshair;
        }
    }

    &__tools-container {

        background-color: var(--bg-secondary);

        position: absolute;
        right: 0;

        height: 100%;

        width: calc(1/6 * 100%);
        min-width: 350px;

        padding: 0 10px;

        translate: 0% 0%;
        transition: translate 350ms ease-out;

        @include mobile-only {
            position: fixed;
            bottom: 0;

            height: 50%;

            translate: 0 0;
            width: 100%;
        }

        &:has(.index__input-checkbox--toggle:checked) {
            translate: 100% 0%;

            @include mobile-only {
                translate: 0% 100%;
            }
        }
    }

    &__tools-container-label {
        position: relative;
    }

    &__tools {
        width: 100%;
        height: inherit;
    }

    &__input-checkbox {

        &--toggle {
            &:checked+.index__label--toggle {
                rotate: -180deg;

                @include mobile-only {
                    rotate: 270deg;
                }
            }

            &:not(:checked)+.index__label--toggle {
                rotate: 0deg;

                @include mobile-only {
                    rotate: 90deg;
                }
            }
        }
    }

    &__label {
        transition: rotate 350ms ease-out;
        border-radius: 50%;

        @include center-flex-column;

        &--toggle {
            background-color: var(--color-primary);
            color: var(--bg-primary);
            border: 2px solid var(--color-primary);

            position: absolute;
            left: -54px;
            top: 0;

            @include mobile-only {
                top: -54px;
                left: 0;
            }
        }
    }

    &__tools {
        overflow-y: scroll;

        @include mobile-only {
            height: 100%;
        }

    }
}

.fieldset {
    border: 2px solid var(--bg-tertiary);
    border-radius: 5px;

    padding: 5px 5px 10px 5px;

    &__title {
        width: auto;
        margin: auto;
        text-align: center;

        padding: 5px;
    }
}

.tools {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__input {
        display: none;
    }

    &__label {
        display: inline-flex;
        justify-content: center;
        align-items: center;


        background-color: var(--bg-secondary);

        border-radius: 5px;
        padding: 5px;

        &:has(>input:checked) {
            background-color: green;
            filter: contrast(85%);
        }
    }

    &__button {
        display: inline-block;

        border-radius: 5px;
        padding: 5px;
        background-color: var(--bg-tertiary);

        flex: 0.5;
    }
}


.colors {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__container {
        display: flex;
        flex-direction: column;

        &--fill {}

        &--stroke {}
    }

    &__label {
        padding: 5px;

        &--fill {
            @include label-space-between;
        }

        &--stroke {
            @include label-space-between;
        }

        &--stroke-width {
            @include label-space-between;
        }
    }

    &__input {
        &--stroke-width {
            max-width: 15%;
        }
    }

    &__checkboxes {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__label {
        width: 100%;

        &--range {
            display: inline-flex;
            flex-direction: column;

            width: 100%;

            &>span {
                align-self: center;
            }
        }

        &--shadow {
            @include label-space-between;
        }
    }
}

.shapes {

    &__checkboxes {}

    &__label {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        padding: 5px;
    }

    &__drawn-shape {
        width: 100%;
    }

    &__canvas {
        width: inherit;
        background-color: white;
    }
}