@use "../utils/" as *;

.index {
    background: grey;

    @include center-flex;

    min-height: 100vh;
    position: relative;
    width: 100%;

    /* Adjust this value to center the canvas vertically */

    &__canvas {
        filter: var(--canvas-filters);
        scroll-snap-align: center;
        scroll-snap-stop: normal;

        touch-action: none;

        position: absolute;
        width: 97%;
        height: 97%;

        scroll-snap-align: center;

        background-color: var(--bg-canvas);

        @include mobile-only {
            left: 0;

            width: 93%;
        }

        &:hover {
            cursor: crosshair;
        }
    }

    &__tools-container {

        background-color: var(--bg-secondary);

        position: absolute;
        right: 0;

        height: 100%;

        width: calc(1/6 * 100%);
        min-width: 350px;

        padding: 0 10px;

        translate: 0% 0%;
        transition: translate 350ms ease-out;

        @include mobile-only {
            position: fixed;
            bottom: 0;

            height: 50%;

            translate: 0 0;
            width: 100%;
        }

        &:has(.index__input-checkbox--toggle:checked) {
            translate: 100% 0%;

            @include mobile-only {
                translate: 0% 100%;
            }
        }
    }

    &__tools-container-label {
        position: relative;
    }

    &__tools {
        width: 100%;
        height: inherit;

        @include mobile-only {
            border: 2px solid currentColor;
        }
    }

    &__input-checkbox {

        &--toggle {
            &:checked+.index__label--toggle {
                rotate: -180deg;

                @include mobile-only {
                    rotate: 270deg;
                }
            }

            &:not(:checked)+.index__label--toggle {
                rotate: 0deg;

                @include mobile-only {
                    rotate: 90deg;
                }
            }
        }
    }

    &__label {
        transition: rotate 350ms ease-out;
        border-radius: 50%;

        @include center-flex-column;

        &--toggle {
            background-color: var(--color-primary);
            color: var(--bg-primary);
            border: 2px solid var(--color-primary);

            position: absolute;
            left: -54px;
            top: 0;

            @include mobile-only {
                top: -54px;
                left: 0;
            }
        }
    }

    &__tools {
        overflow-y: scroll;

        @include mobile-only {
            height: 100%;
        }

    }
}

.fieldset {
    border: 2px solid var(--bg-tertiary);
    border-radius: 5px;

    padding: 5px 5px 10px 5px;

    &__title {
        width: auto;
        margin: auto;
        text-align: center;

        padding: 5px;
    }
}

.input {
    &--color {
        width: 64px;
        height: 32px;
    }
}

.tools {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__input {
        display: none;
    }

    &__label {
        display: inline-flex;
        justify-content: center;
        align-items: center;


        background-color: var(--bg-tertiary);

        border-radius: 5px;
        padding: 5px;

        transition: filter 150ms ease-in-out;

        &:hover {
            filter: contrast(65%);
        }

        &:active {
            filter: contrast(75%);
        }

        &:has(>input:checked) {
            background-color: var(--bg-radio-button);
            filter: contrast(85%);
        }
    }

    &__button {
        display: inline-block;

        border-radius: 5px;
        padding: 5px;

        background-color: var(--out-of-range-bg);
        color: var(--out-of-range-color);

        flex: 0.5;

        transition: filter 150ms ease-in-out;

        &:hover {
            filter: contrast(85%);
        }

        &:active {
            filter: contrast(75%);
        }
    }
}


.colors {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__container {
        display: flex;
        flex-direction: column;

        &--fill {}

        &--stroke {}
    }

    &__label {
        padding: 5px 0;

        &--fill {
            @include label-space-between;
        }

        &--stroke {
            @include label-space-between;
        }

        &--stroke-width {
            @include label-space-between;
        }
    }

    &__input {

        &:out-of-range {
            background-color: var(--out-of-range-bg);
            color: var(--out-of-range-color);
        }

        &:invalid {
            background-color: var(--out-of-range-bg);
            color: var(--out-of-range-color);
        }

        &--color {
            width: 64px;
            height: 32px;

        }

        &--stroke-width {
            text-align: center;
        }
    }

    &__checkboxes {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__label {
        width: 100%;

        &--range {
            display: inline-flex;
            flex-direction: column;

            width: 100%;
        }

        &--shadow {
            @include label-space-between;
        }
    }

    &__span {
        align-self: center;

        font-variant-numeric: tabular-nums;
        position: relative;

        &--size {
            &::after {
                content: "px";
            }
        }

        &--rotation {
            &::after {
                content: "°";
            }
        }
    }

    &__input {
        &--range {
            border-radius: 100vmax;
            @include input-range-style;
        }

        &--number {
            text-align: center;
        }
    }


    &__shadow-inputs {
        margin-top: 15px;
        @include center-flex-column(15px);
    }
}

.shapes {

    &__choose-shape {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;
    }

    &__input {
        &--radio {
            display: none;
            height: 10px;
        }

        &--number {
            text-align: center;
        }
    }

    &__checkboxes {}

    &__label {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 1/1;
        height: 35px;

        margin-bottom: 10px;

        background-color: var(--bg-tertiary);

        border-radius: 5px;
        padding: 5px;

        &:has(>input:checked) {
            background-color: var(--bg-radio-button);
            filter: contrast(85%);
        }
    }

    &__drawn-shape {
        width: 100%;
    }

    &__canvas {
        filter: var(--canvas-filters);
        width: inherit;
        background-color: var(--bg-canvas);

        border-radius: 5px;

    }

}

.miscellaneous {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 15px;

    &__global-composite-operation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__select {
        padding: 10px 5px;

        width: 75%;
    }

    &__label {
        width: 100%;

        @include label-space-between;

        &--select {}

        &--input {}
    }

    &__active-filter {
        @include center-flex(15px);

        width: fit-content;
    }


    &__active-filter-container {
        display: grid;
        grid-auto-rows: auto;

        padding: 10px 0;

        gap: 10px;
    }

    &__active-filter-label {
        @include label-space-between(15px);
    }

    &__active-filter-input {
        max-width: 50px;
    }

    &__active-filter-button {}
}